/*========variables========*/
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes rightToleft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transofrm: translateY(0px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5rem;
  background: #ffffff;
}

html {
  font-size: 62.5%;
}

.container {
  background-color: #F7F7F7;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-first {
  color: #ffffff;
  margin-bottom: 6.5rem;
}
.title-first__main {
  font-weight: 900;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 2s;
}
.title-first__secondary {
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation-name: rightToleft;
  animation-duration: 2s;
}
.title-first__main, .title-first__secondary {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.title-secondary {
  display: inline-block;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.title-third {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  line-height: 140%;
  font-weight: 400;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.btn:link, .btn:visited {
  color: #777777;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  background-color: white;
  border-radius: 5rem;
  position: relative;
  font-size: 2rem;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7) 0.1;
}
.btn::after {
  content: "";
  background: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
}
.btn_animated {
  animation-name: BtnToUp;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #777777;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #A14F03;
  transition: 0.2s;
  border-radius: 3px;
}
.btn-text:hover {
  background-color: #A14F03;
  color: #ffffff;
  transform: translateY(-1rem);
  box-shadow: 0.5px 2.9px 2.2px rgba(0, 0, 0, 0.018), 1.1px 6.8px 5.3px rgba(0, 0, 0, 0.025), 2.1px 12.9px 10px rgba(0, 0, 0, 0.031), 3.8px 23px 17.9px rgba(0, 0, 0, 0.037), 7.1px 43px 33.4px rgba(0, 0, 0, 0.045), 17px 103px 80px rgba(0, 0, 0, 0.06);
}
.btn-text:active {
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 10;
  transition: 0.2s;
  outline-offset: 2rem;
}
.composition__photo_n1 {
  top: 0;
  left: 0rem;
}
.composition__photo_n2 {
  top: 2rem;
  right: 0rem;
}
.composition__photo_n3 {
  top: 13rem;
  left: 10rem;
}
.composition__photo:hover {
  transform: scale(1.1);
  z-index: 20;
  outline: 1.5rem solid #BA8554;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.adventure-card {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.2s;
}
.adventure-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.adventure-card__icon {
  font-size: 6rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  display: inline-block;
}

.section-about {
  padding-top: 8rem;
}

.section-adventure {
  padding: 21rem 0rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/adventure-bg.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}

.header {
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/header-bg.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
  position: relative;
}
.header__logo {
  cursor: pointer;
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-2-of-3 {
  width: calc(2 *((100% - 2 * 6rem) / 3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
[class^=col-]::after {
  content: "";
  display: table;
  clear: both;
}/*# sourceMappingURL=style.css.map */