.footer {
    padding: 8rem 0rem;
    background: #333;

}
.row {
    text-align: center;
}
.footer__logo {

}
.footer__logo-img {
}
.footer__links {
    list-style: none;
    display: inline-block;
    &:not(:last-child) {
        margin-right: 5rem;
    }
}
.footer__links-item {

    
}
.footer__link {
    &:link,&:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: white;  
    }
    
}