.footer {
    padding: 5rem 0rem 0rem 0rem;
    background: #333;
    .row {
        height: 15rem;
    }

}
.row {
    position: relative;
    .footer__logo {
        width: 12rem;
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.footer__logo {

}
.footer__logo-img {
}
.footer__links {
    list-style: none;
    text-align: center;
    

}
.footer__links-item {
    display: inline-block; 
    margin-right: 5rem;
    @include respond(tab-land) {
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }   
}
.footer__link {
    &:link,&:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        line-height: 1.7;
    }
    
}
.footer__links {
}
.footer__links-item {
}
.footer__link {
}