

//=====BASE SETTINGS=====//

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 5rem;
    background: $color-white;    
}
html {
    font-size: 62.5%;
    @include respond (tab-land) {
        font-size: 56.25%;
    }
    @include respond (tab-port) {
        font-size: 50%;
    }
    @include respond (phone){
        font-size: 30%;
    }
    @include respond (big-screen) {
        font-size: 75%;
    }
}
.container {
    background-color: $color-gray-light;
    position: relative;
    z-index: 0;
}

