
//Общая типографика//
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $color-gray;
    font-size: $font-size-paragraph;
    letter-spacing: .2rem;
}




//Типографика заголовка h1//
.title-first {
    color: $color-white;
    margin-bottom:      6.5rem;
    &__main {
        font-weight:    900;
        font-size:      5rem;
        line-height:    6rem;
        letter-spacing: 1rem;        
        text-transform: uppercase;
        margin-bottom:  1rem;
        animation-name: leftToRight;
        animation-duration: 2s;         
    }
    &__secondary {
        font-weight:    300;
        font-size:      4rem;
        line-height:    4.8rem;
        letter-spacing: 0.5rem;
        animation-name: rightToleft;
        animation-duration: 2s;        
    }
    &__main,
    &__secondary {
        display: block;
        backface-visibility: hidden;
    }
}

.title-secondary {
    display: inline-block;
    font-size: $font-size-paragraph-h2;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(90deg, rgba($color-brown-light, 0.7) 0.03%, rgba($color-brown-dark, 0.7) 99.94%);
    background-clip: text;
    color: transparent;
    transition: .2s;
    backface-visibility: hidden;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0rem 0.4rem 0.4rem rgba($color-black, .25);
    }
    &_white {
        color: $color-white;
    }
}

.title-third {
    font-size: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 700;
}
.paragraph {
    font-size: $font-size-paragraph;
    letter-spacing: .2rem;
    line-height: 140%;
    font-weight: 400;
}