
@mixin style-link ($color){
    color: $color;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }

}
